
#see{

background: linear-gradient(110deg, #33cc99 20%, #0D6EFD 20%);

}

p{

font-family: 'Roboto Mono', monospace;


}

#name{

font-size:100%;
margin-right : 50px;

}

#bus{

font-size:50%;

}

#all {

background-color : #33cc99;

}


#canleft {


font-family: 'Roboto Mono', monospace;
font-weight: bold;



}

#everyleft {

background-color: #e6ebf2;

}

#hmm {

margin-left: 100px;

}

#nav-me1 {

color : black;
font-size : 130%;
font-family: 'Urbanist', sans-serif;
font-weight: bold;
}

#offcanvasNavbarDropdown{


color : black;
font-size : 130%;
font-family: 'Roboto Mono', monospace;
font-weight: bold;


}



#nav-me2 {

color : black;
font-size : 130%;
font-family: 'Roboto Mono', monospace;
font-weight: bold;
}

#nav-me3 {

color : black;
font-size : 130%;
font-family: 'Roboto Mono', monospace;
font-weight: bold;
}

#nav-me4 {

color : black;
font-size : 130%;
font-family: 'Roboto Mono', monospace;
font-weight: bold;
}



#nocolor {

color : black !important;
text-decoration : none !important;
}

a {

text-decoration : none !important;

}





#servicetop {

background: linear-gradient(110deg, #33cc99 80%, #0D6EFD 80%);
position : relative;
top: 140px;

}

.work {

margin-top : 70px;
margin-bottom : 70px;


}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
   
    50% {
        transform: rotate(0.5turn);
    }
    100% {
        transform: rotate(1turn);
    }
}



#rot {
 
 
  position: relative;
  animation-name:zoominoutsinglefeatured;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  
}




#firstdes {

font-size : 110%;

}

#seconddes {

display : none;
}


@media screen and (max-width: 700px) {
  #firstdes {
    display: none;
   
  }
  #seconddes{
      display : block;
  }



}


#desription{

position : relative;
top : 200px;


}

.infoinfo {

font-family: 'Open Sans', sans-serif;

}

#listall {

font-family: 'Open Sans', sans-serif;
font-weight : none;

}

#conhack10 {

text-align : center;
font-size : 200% !important;
color : #0D6EFD;
font-weight: bold !important;
margin-top : 10px;
font-family: 'Roboto', sans-serif;
}

#comeus {

position : relative;
top : 200px;


}

.easy {

height : 300px;


}

.job1 {

display : none;


}

@media screen and (max-width: 765px) {
  .job1 {
    display: block !important;
    position:relative;
top: -50px;
text-align : center;
color : white;
font-weight : bold;
font-size : 150%;



   
  }}
  
#conhack11 {

text-align : center;
font-size : 200% !important;
color : #0D6EFD;
font-weight: bold !important;
margin-top : 10px;
font-family: 'Roboto', sans-serif;
}

#slidess {

position : relative;
top : 200px;

}


.serve {
height : 50%;
width : 50%;

}


#conhack15 {

text-align : center;
font-size : 150% !important;
color : #002B47;
font-weight: bold !important;
margin-top : 10px;
font-family: 'Roboto', sans-serif;
}


#conhack16 {

text-align : center;
font-size : 200% !important;
color : #0D6EFD;
font-weight: bold !important;
margin-top : 10px;
font-family: 'Roboto', sans-serif;
}



#callnow {

position : relative;
top : 200px;
margin-top : 100px;
height : 250px;



}



#gh {

display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green; 
border : none;
position : relative;
top : -50px;

}

#orr {

height : 50px;


}







#allbottom {

position : relative;
top : 350px;

}


#butfirst {

background-color : #0D6EFD;



}

.foot {


text-align : center;
font-size : 150% !important;
color :white;
font-weight: bold !important;
margin-top : 10px;
font-family: 'Roboto', sans-serif;
border-bottom : 3px #33cc99 solid;
}

#need {
display : none;

}

@media screen and (max-width: 506px) {
  .foot {
  
      border-bottom : none;
 
  }
  #need {
  
  display : block;
  background-color : white;
  
  
  }
 #lineline {
width : 100%;
color : #33cc99;
height : 3px;
position : relative;
top : 105px;
opacity : 1;


}
 
 }

.taxx {

font-weight : bold;
color : black;



}

.social {
margin-top : 20px;
margin-right: 20px;
height :30px;
margin-bottom : 10px;

}

.lastone {

text-align : center;


}

#bluetext {

color : #1CA3FF;

}