
#see{

background: linear-gradient(110deg, #33cc99 20%, #0D6EFD 20%);

}

p{

font-family: 'Roboto Mono', monospace;


}

#name{

font-size:100%;
margin-right : 50px;

}

#bus{

font-size:50%;

}

#all {

background-color : #33cc99;

}


#canleft {


font-family: 'Roboto Mono', monospace;
font-weight: bold;



}

#everyleft {

background-color: #e6ebf2;

}

#hmm {

margin-left: 100px;

}

#nav-me1 {

color : black;
font-size : 130%;
font-family: 'Urbanist', sans-serif;
font-weight: bold;
}

#offcanvasNavbarDropdown{


color : black;
font-size : 130%;
font-family: 'Roboto Mono', monospace;
font-weight: bold;


}



#nav-me2 {

color : black;
font-size : 130%;
font-family: 'Roboto Mono', monospace;
font-weight: bold;
}

#nav-me3 {

color : black;
font-size : 130%;
font-family: 'Roboto Mono', monospace;
font-weight: bold;
}

#nav-me4 {

color : black;
font-size : 130%;
font-family: 'Roboto Mono', monospace;
font-weight: bold;
}



#nocolor {

color : black !important;
text-decoration : none !important;
}

a {

text-decoration : none !important;

}
































#allbottom {

position : relative;
top : 500px;

}


#butfirst {

background-color : #0D6EFD;



}

.foot {


text-align : center;
font-size : 150% !important;
color :white;
font-weight: bold !important;
margin-top : 10px;
font-family: 'Roboto', sans-serif;
border-bottom : 3px #33cc99 solid;
}

#need {
display : none;

}

@media screen and (max-width: 506px) {
  .foot {
  
      border-bottom : none;
 
  }
  #need {
  
  display : block;
  background-color : white;
  
  
  }
 #lineline {
width : 100%;
color : #33cc99;
height : 3px;
position : relative;
top : 105px;
opacity : 1;


}
 
 }

.taxx {

font-weight : bold;
color : black;



}

.social {
margin-top : 20px;
margin-right: 20px;
height :30px;
margin-bottom : 10px;

}

.lastone {

text-align : center;


}

#bluetext {

color : #1CA3FF;

}